---
---

@import "{{ site.theme }}";

@media only screen and (min-width: 480px) and (max-width: 767px) {
  aside#sidebar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

     body header h2 #subtitle { 
     width: 700px;
       
    }
  
@media only screen and (max-width: 479px){
  aside#sidebar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
   body header h1 { 
     font-size: 30px !important;
    }
     body header h2 { 
     font-size: 20px !important;
       
    }
  body h1 {
    font-size: 25px !important;
  }
  
    body h2 {
    font-size: 18px !important;
  }
  
      body h3 {
    font-size: 16px !important;
  }
  
}

#main-content h1
{
  text-indent: 3px;
}

#main-content h2
{
  text-indent: 4px;
}

#main-content h3
{
  text-indent: 5px;
}

#main-content h4
{
  text-indent: 6px;
}

#main-content h5
{
  text-indent: 6px;
}

#main-content h6
{
  text-indent: 6px;
}

#main-content p
{
  margin-left: 8px;
}


