---
---

@import "{{ site.theme }}";

@media only screen and (min-width: 480px) and (max-width: 767px) {
  aside#sidebar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media only screen and (min-width: 768){
     body header h2#subtitle { 
     width: 700px;
       
    }
}
  
@media only screen and (max-width: 479px){
  aside#sidebar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
   body header h1 { 
     font-size: 30px !important;
    }
     body header h2 { 
     font-size: 20px !important;
       
    }
  body h1 {
    font-size: 25px !important;
  }
  
    body h2 {
    font-size: 18px !important;
  }
  
      body h3 {
    font-size: 16px !important;
  }
  
}

 * {		
   margin: 0;		
 }		
 h1 ~ *:not(h1):not(#subtitle) {		
   margin-left: 0.5em;		
 }		
 h2 ~ *:not(h1):not(h2):not(#subtitle)  {		
   margin-left: 1em;		
 }		
 h3 ~ *:not(h1):not(h2):not(.h2):not(h3):not(#subtitle)  {		
   margin-left: 1.5em;		
 }		
 h4 ~ *:not(h1):not(h2):not(.h2):not(h3):not(.h3):not(h4):not(#subtitle)  {		
   margin-left: 2em;		
 }

 h5 ~ *:not(h1):not(h2):not(.h2):not(h3):not(.h3):not(h4):not(h5):not(#subtitle)  {		
   margin-left: 2em;		
 }

 h6 ~ *:not(h1):not(h2):not(.h2):not(h3):not(.h3):not(h4):not(h5):not(h6):not(#subtitle)  {		
   margin-left: 2em;		
 }



